@charset "UTF-8";

@font-face {
    font-family: 'morning';
    src: url('pacote-d012/super_morning/Super\ Morning.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'forma';
    src: url('over_light/Over\ Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;

}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 7px;
}

header > h1{
    font-family: 'morning';
    font-size: 5vw;
}
p > a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

main > .bloco{
    display: inline block;
    border: 2px solid white;
    min-width: 300px;
    max-width: 1200px;
    height: 670px;

    padding-left: 15px;
    padding-top: 7vh;
    padding-bottom: 7vh;

    font-family: 'forma', Arial, Helvetica, sans-serif;
    font-size: 3.5vw;

}
div#b2{
    background-image: url('pacote-d012/imagens/background001.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div#b2 > p{
    display: inline-block;
    background-color: rgba(46, 44, 44, 0.485);
    color: white;
    padding-left: 15px;
    padding-top: 60px;
}
div#b4{
    background-image: url('pacote-d012/imagens/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div#b4 > p{
    display: inline block;
    background-color: rgba(46, 44, 44, 0.485);
    color: white;
    padding-left: 15px;
    padding-top: 60px;
}
nav > p#final{
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 8px;
}